/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-fade-zoom-slider {
	.slide{
		opacity: 1;
	}
	.remove-slider.is-destructive{
		position: absolute;
		bottom: 1em;
		right:1em;
		background: rgba(248, 130, 130, 0.544);
		color:#fff;
	}
}
