/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

ul.wp-block-create-block-shape-dynamic-block {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	li {
		img {
			margin-bottom: 10px;
		}
		h5 {
			font-size: 20px;
			margin: 0 0 5px;
			line-height: 1.4;
			a {
				color: #4e4e4e;
			}
		}
		time {
			font-size: 12px;
			color: #969696;
		}
		p {
			font-size: 14px;
			color: #303030;
			text-align: justify;
			line-height: 1.6;
			margin-top: 15px 0 0;
		}
	}
}
